<h1>[Boilerplate] <%= email.subject %></h1>

<p>Thank you for signing up <%= user.name %>.</p>

<p>Please verify your email <%= user.email %> so you can reset your password if need be. You may still use the site if your email is unverified but we can't send you emails.</p>

<p>Use the verification code below to verify your email.</p> 
  
<p><strong><%= user.verifyShortToken %></strong></p>
