<h1>[Boilerplate] Confirmez votre enregistrement</h1>

<p>Merci de vous êtes enregistré <%= user.name %>.</p>

<p>Vérifiez votre mail <%= user.email %> afin de pouvoir réinitialiser votre mot de passe si nécessaire. Vouz pouvez toujours utiliser notre site tant que votre adresse mail n'est pas validée mais nous ne pourrons pas vous envoyer de mails de façon fiable.</p>

<p>Utilisez le code de vérification ci-dessous pour vérifier votre mail.</p> 
  
<p><strong><%= user.verifyShortToken %></strong></p>
