// Theme
$primary: #1b5e20 !default;
$secondary: lighten($primary, 75%) !default;
$accent: lighten($primary, 25%) !default;
$dark: darken($primary, 25%) !default;
$info: $accent !default;
$positive: #7bb946 !default;
$negative: #c74a4a !default;
$warning: #d09931 !default;
